# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/build
/dist
/dist-ssr
/node_modules
/src-tauri/target
/src-tauri/gen
/src-tauri/gen-c
/src-tauri/gen-cxx
/src-tauri/gen-rust
/src-tauri/gen-rust-bindings
/src-tauri/gen-rust-bindings-cxx

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
